*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
}

nav{
display:flex;
justify-content:space-between;
background:black;
padding:10px;
overflow: scroll;
}

nav ul{
display:flex;
gap:20px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

nav li:hover{
background:gray;
}

#btn1{
padding:5px;
border:none;
border-radius:5px;
}

.container1 img{
width:100%;
height:auto;
}

.container2{
text-align:center;
padding:40px;
}

.container3{
display:flex;
justify-content:center;
gap:30px;
padding:20px;
}

.member{
width:200px;
}

.container4{
background:black;
color:white;
padding:40px;
}

.container5{
display:flex;
justify-content:center;
gap:20px;
}

.card{
background:white;
color:black;
padding:10px;
text-align:center;
}

.buy{
background:red;
color:white;
border:none;
padding:8px;
border-radius:10px;
}

.buy:hover{
background:green;
color:black;
}

.ticket-box{
position:fixed;
right:-400px;
top:100px;
background:white;
padding:20px;
width:300px;
transition:0.5s;
}

.container6{
display:flex;
justify-content:center;
gap:50px;
padding:40px;
}

.input{
display:block;
margin-bottom:10px;
padding:5px;
width:200px;
}

.map{
width:100%;
}

footer{
background:gray;
text-align:center;
padding:10px;
}
